:root {
	--main-color: #00AEEC;
	--main-color-hover: #40C5F1;
	--main-color-bg: #DFF6FD;
	--main-input-bg: #F6F7F8;
	--main-input-hover-bg: #FFFFFF;
	--main-color-border: #F1F2F3;
	--main-transition: all .2s;
	--main-base-height: 42px;
}
.dark {
	--main-color: #0087BD;
	--main-color-hover: #006996;
	--main-color-bg: #DFF6FD;
	--main-input-bg: #17181A;
	--main-input-hover-bg: #7b7d83;
	--main-color-border: #2F3134;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

[type="range"] {
	height: var(--main-base-height);
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	outline: 0;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}
[type="range"]::-webkit-slider-runnable-track {
	height: 6px;
	background: var(--main-input-bg);
	cursor: pointer;
}
[type="range" i]::-webkit-slider-container {
	height: 20px;
	overflow: hidden;
}
[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--main-color);
	border: 1px solid transparent;
	margin-top: -7px;
	border-image: linear-gradient(var(--main-color),var(--main-color)) 0 fill / 8 20 8 0 / 0px 0px 0 2000px;
	cursor: pointer;
}

.gradio-row.generate-box :nth-child(1) {
	border-radius: 6px 0 0 6px;
}
.gradio-row.generate-box :nth-child(2) {
	border-radius: 0 6px 6px 0;
}

div.dimensions-tools {
	flex-direction: row;
	align-content: center;
}

#settings > div {
	margin-left: 12em;
}

#settings > div.tab-nav {
	width: 12em;
}

#settings > div.tab-nav button {
	width: 100%;
	white-space: initial;
	border-radius: 8px;
	margin: 4px 0;
	background-color: transparent;
	color: #18191C;
	height: 36px;
	line-height: 36px;
	padding: 0 0 0 14px;
}
#settings > div.tab-nav button:hover,
#settings > div.tab-nav button.selected {
	background-color: #E3E5E7;
	color: #18191C;
}

.gradio-container .main .wrap .contain > div {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#quicksettings,
#footer {
  flex-shrink: 0;
}
#quicksettings + * {
  flex: 1;
}
#quicksettings + .tabs > .tab-nav {
  flex-wrap: nowrap !important;
  overflow-x: scroll !important;
}

#quicksettings + .tabs > .tab-nav:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  background: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,1));
}

#quicksettings + .tabs > .tab-nav button {
  height: var(--main-base-height);
  font-weight: 600;
  transition: var(--main-transition);
  margin-bottom: 0;
}
#quicksettings + .tabs > .tab-nav button:hover {
  color: var(--main-color);
}
#quicksettings + .tabs > .tab-nav button.selected {
  position: relative;
  color: var(--main-color);
  background: transparent;
  border-color: transparent;
}
#quicksettings + .tabs > .tab-nav button.selected:after {
  position: absolute;
  content: '';
  left: var(--size-4);
  right: var(--size-4);
  bottom: 0px;
  background-color: var(--main-color);
  height: 3px;
  border-radius: 3px;
}
.tabs .tabs .tab-nav {
  /* margin: 20px 0; */
  border-bottom: none;
}
.tabs .tabs .tab-nav button {
  border: none;
  height: 32px;
  transition: var(--main-transition);
}
.tabs .tabs .tab-nav button:hover {
  color: var(--main-color);
}
.tabs .tabs .tab-nav button.selected {
  position: relative;
  color: var(--main-color);
  background: var(--main-color-bg);
  border-color: transparent;
  border-radius: 6px;
}
.gradio-button.primary {
  color: #fff !important;
  background: var(--main-color) !important;
  border: 1px solid var(--main-color) !important;
  border-radius: 6px;
  transition: var(--main-transition);
  overflow: hidden;
}
.gradio-button.primary:hover {
  color: #fff !important;
  background: var(--main-color-hover) !important;
  border-color: var(--main-color-hover) !important;
}
.gradio-button.secondary {
  background: #fff;
  border: 1px solid #E3E5E7;
  color: #18191C;
  border-radius: 6px;
  transition: var(--main-transition);
  box-shadow: none;
  overflow: hidden;
}
.gradio-button.secondary:hover {
  color: #18191C;
  background: #E3E5E7;
}
textarea {
  background-color: var(--main-input-bg) !important;
  transition: var(--main-transition);
  border: 1px solid var(--main-color-border) !important;
  box-shadow: none !important;
}
textarea:hover {
  background-color: var(--main-input-hover-bg) !important;
}
textarea:focus {
  border: 1px solid var(--main-color) !important;
  background-color: var(--main-input-hover-bg) !important;
}
.wrap {
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}
.wrap .wrap-inner {
  border-radius: 6px;
  height: var(--main-base-height);
}
.wrap .wrap-inner svg {
  cursor: pointer;
}
.wrap .wrap-inner:has(input:focus) {
  border: 1px solid var(--main-color) !important;
  background-color: var(--main-input-hover-bg) !important;
}
.wrap .wrap-inner,
input[type="number"],
input[type="text"] {
  background-color: var(--main-input-bg) !important;
  transition: var(--main-transition);
  border: 1px solid var(--main-color-border) !important;
  box-shadow: none !important;
}
.wrap .wrap-inner:hover,
input[type="number"]:hover,
input[type="text"]:hover {
  background-color: var(--main-input-hover-bg) !important;
}
input[type="number"]:focus,
input[type="text"]:focus {
  border: 1px solid var(--main-color) !important;
  background-color: var(--main-input-hover-bg) !important;
}
.image-container {
  background-color: var(--main-input-bg) !important;
  transition: var(--main-transition);
  border-radius: 6px;
}
.wrap .options {
  border-radius: 8px;
}
.wrap .options:not(:empty) {
  border: 1px solid #E3E5E7;
  box-shadow: 0 10px 30px rgba(56, 40, 40, 0.1);
}
.wrap .options li {
  height: 32px;
  line-height: 32px;
  padding: 0 6px !important;
  margin: 4px 0 !important;
}
.wrap .options li.selected,
.wrap .options li:hover {
  background-color: #E3E5E7 !important;
}
.gradio-button.tool {
  height: var(--main-base-height);
  min-width: var(--main-base-height) !important;
  border-color: var(--main-color-border);
}
label textarea[rows*="1"] {
  height: var(--main-base-height) !important;
}
label textarea[rows*="3"] {
  height: 89px !important;
}
label > span:first-child {
  height: 24px;
  margin-bottom: 0 !important;
}
#tab_extras .form {
  flex-direction: column;
}
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}
td, th {
  padding: 0.5em;
  border-bottom: 1px solid var(--main-color-border);
}
#footer .prose :nth-child(1) {
  display: none;
}
#footer .prose br {
  display: none;
}
.gradio-container:after {
  content: '';
  position: absolute;
  right: var(--size-4);
  top: var(--size-4);
  width: 79px;
  height: 35px;
  background-image: url('https://oa.bilibili.co/portal/newportal/image/logo1.png');
  background-size: contain;
}